*{
    background-color: black;
}
.beer-gallery{
    margin-top: 10vh;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Bangers', cursive;
    overflow: hidden;
    
    
}

.beer-gallery .card{
    
    display: flex;
    flex-direction: row;
    height: 70vh;
    background: black;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vh;
   
}

.beer-gallery .card .textBox{
    color: white;
    background: black;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5vw;
    max-width: 35vw;
    
}

.beer-gallery .card .imageBox{
    height: 60vh;
    
}

/*small size screen */
.beer-gallery .card .textBox h2{
    font-size: 1.7rem;
    line-height: 2rem;
    color: red;
    max-width: 40%;
    
}
.beer-gallery .card  p{
    color: white;
    font-size: 1.1rem;
    
}

.beer-gallery .card .textBox p{
    font-size: 1.1rem;
    padding-bottom: 2vh;
    
}

.beer-gallery .card .textBox p img{
    padding: 5px 5px 5px 5px;
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 5px;
}

.beer-gallery .card img{
    height: 100%;
   
 
}
.back-button{
    text-decoration: none;
    color: red;
    font-family: 'Bangers', cursive;
    font-size: 2rem;
    background: black;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5vh;
}
.back-button:hover{
    background: white;
}



/* ;arger screens */
@media (min-width: 500px){

    .beer-gallery .card .textBox{
        color: white;
        background: black;
        padding-left: 10px;
        padding-right: 10px;
        
        margin-left : 100px;
        
    }
    .beer-gallery .card .imageBox{
        height: 60vh;
        
    }

    .beer-gallery .card .textBox h2{
        font-size: 3.7rem;
        line-height: 4rem;
        
    }
    
    
    .beer-gallery .card .textBox p{
        font-size: 2.7rem;
        padding-bottom:3px ;
        
    }

    .beer-gallery .card .textBox p img{
        height: 40px;
        width: auto;
        
    }
    .back-button{
        text-decoration: none;
        color: red;
        font-family: 'Bangers', cursive;
        font-size: 4rem;
        background: black;
        border-radius: 6px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 5vh;
    }
    .back-button:hover{
        background: white;
    }


}