*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Bangers', cursive;
    
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #161616;
}

section .circle {
    position: absolute;
    top : 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
   
}

header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
header a .logo{
    position: relative;
   width: 500px;

}
header .navigation{
    position: fixed;
    display: flex;
}
header .navigation li{
    list-style: none;
}
header .navigation li a{
    display: inline-block;
    color: #fff;
    font-weight: #fff;
    text-decoration: none;
    font-size: 2rem;
    margin-left: 40px;

}
header .navigation li a:hover{
  color: #d63031;

}
header .navigation .img-wrapper {
   display: none;
   
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox{
   text-align: center;
   position: center;
   max-width: 600px;
   margin-right: 20px;
}

.content .textBox h2 {
   
    color: #d63031;
    font-size: 7rem;
    margin-bottom: 50px;
    line-height: 6rem;

}
.content .textBox h2 img{
   
    margin-right: 0;
    height: 7rem;
    line-height: 6rem;

}
.content .textBox p {
    color: #fff;
    font-size: 2rem;

}
.content .textBox .redlabel {
    color: #d63031;
    font-size: 1.5rem;
   
    
}
.content .textBox a {
     display: inline-block;
     margin-top: 20px;
     padding: 8px 20px;
     background: #d63031;
     color: #fff;
     border-radius: 40px; 
     font-weight: 500;
     font-size: 2rem;
     letter-spacing: 1px;
     text-decoration: none;  
    
}
 .beersBox , .contactBox{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    flex-direction: column;
}
.crewBox{
    background: black;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    flex-direction: row;
    overflow: hidden;
    column-gap: 5vw;
  
 
  
    
}
.crewBox .conture-left{
    padding-top: 5%;
    background: #d63031;
    font-size: 3.3rem;
    width: 40vw;
    height: 70%;
    display: flex;
    flex-direction: row;

    border-radius: 10%;
  
    
    
}
.crewBox .conture-left p{
    width: 20vw;
   
    
    
}
.crewBox .conture-left img{
    width: 20vw;
    height: 80%;
}

.crewBox .conture-right{
    padding-top: 5%;
    background: #fdcb6e;
    font-size: 3.3rem;
    width: 40vw;
    height: 70%;
    display: flex;
    flex-direction: row;

  
    border-radius: 10%;
  
  

    
}
.crewBox .conture-right p{
    width: 20vw;
 
    
}
.crewBox .conture-right img{
    background: transparent;
    transform: scaleX(-1);
    width: 20vw;
    height: 80%;
}

.beersBox{
    background: rgb(22, 22, 22);
}
.contactBox{
    background:#ff7675;
}
.beersBox img{
    height: 50%;
    width: auto;
}
/*media bar styles */
.mediabar{
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mediabar li{
    list-style: none;
}
.mediabar li a{
    display: inline-block;
    margin-left:15px ;
    background: black;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;

}
.mediabar li a:hover{
    background: #e51e2a;
    transform: translateY(-10px);
}

.mediabar li a img{
   filter: invert(1);
   transform: scale(0.5);
}



/*slider*/
.swiper-container {
   
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
      
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 600px;
    display: flex;
    justify-content:center ;

  }


  .content .imgBox{
      width: 750px;
      display: flex;
      justify-content: flex-end;

  }

  .content .imgBox img{ 
    max-width: 300px;

}

.swiper-slide img{
    position: absolute;
    bottom: 0;
    max-height: 100%;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right{
    background-image: none;

}


/* mobile version */
@media (max-width: 765px){
    header{
        
        padding: 50px;
       
    }
    section {
        padding: 150px 40px;
        height: 100vh;
    }
    .media{
        left: 40px;
    }
    .content {
        flex-direction: column;
        
    }
    .content .textBox,.content .imgBox {
        max-width: 100%;
        
    }

.crewBox{
    background: black;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    flex-direction: column;
  
    
}
.crewBox .conture-left{
    width: 100vw;
    max-width: 100vw;
    background: #fdcb6e;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    
    
}
.crewBox .conture-left p{
   font-size: 2rem;
   margin-left: 50vw;
    
}
.crewBox .conture-left img{
   width: 70%;
   height: 35vh;
}

.crewBox .conture-right{
   
    width: 100vw;
    max-width: 100vw;
    background: #d63031;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    flex-direction: row-reverse;
   

    
}
.crewBox .conture-right p{
    font-size: 2rem;
    margin-left: 50vw;
    
}
.crewBox .conture-right img{
    width: 70%;
    height: 35vh;
    transform: scaleX(1);
   
}

    
     .content .textBox h2 {
         color: #d63031;
         font-size: 3.5rem;
        
         margin-bottom: 20px;
         
     
     }

     .content .textBox h2 img{
   
        margin-right: 0;
        height: 3.5rem;
       
    
    }
    
     .content .textBox p {
         color: #fff;
         font-size: 20px;
        
         
     }
     .content .textBox .redlabel {
        color: #d63031;
        font-size: 18px;
       
        
    }
     .content .textBox a {
        display: none;
       
   }



    .swiper-slide{
        background-position: center;
        background-size: cover;
        width: 180px;
        height: 300px;
        display: flex;
        justify-content: center;
    }
    header .navigation{
        display: none;
    }

     .beersBox , .contactBox{
        display: flex;
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 40px;
        
    }
    section .circle {
        position: absolute;
        top : 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
       
       
    }
    header .navigation.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:#d63c46;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
        clip-path: polygon(20% 0%,83% 0%,100% 46%,100% 81%,100% 100%,15% 100%,0% 60%,0% 0%);
    }
    header .navigation li a{
        margin: 20px 0;
        font-size: 2rem;
        font-weight: 300;
    }

    header .navigation .img-wrapper {
        display: grid;
        width: 10rem;
        height: 10rem;
    }
    header .navigation .img-wrapper img{
        height: 100%;
        width: 100%;
       
    }
    .toggle{
        
        position: fixed;
        margin-top: 5vh;
     
        right :20px;
        width: 30px;
        height: 30px;
        background-size: 30px;
        background: url("../img/menu.png");
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 10000;
    }
    .toggle.active{
        margin-top: 5vh;
        right :20px;
        background-size: 30px;
        background: url("../img/close.png");
        background-repeat: no-repeat;
        background-position: center;
    }


    /* media bars  medium devices */
    .mediabar{
        position: absolute;
        bottom: 50px;
        left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .mediabar li{
        list-style: none;
    }
    .mediabar li a{
        display: inline-block;
        margin-left:15px ;
        background: black;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: 0.2s ease-in-out;
    
    }
    .mediabar li a:hover{
        background: #e51e2a;
        transform: translateY(-10px);
    }
    
    .mediabar li a img{
       filter: invert(1);
       transform: scale(0.5);
    }
}




@media (max-width: 325px){

    .toggle{
        
        position: fixed;
        margin-top: 50px;
        width: 30px;
        height: 30px;
        background-size: 30px;
        background: url("../img/menu.png");
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 10000;
    }
    .toggle.active{
        margin-top: 50px;
        background-size: 30px;
        background: url("../img/close.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    .content .textBox h2 {
        color: #d63031;
        font-size: 2.5rem;
       
        margin-bottom: 20px;
        
    
    }
    .content .textBox h2 img{
   
        margin-right: 0;
        height: 2.5rem;
        
    
    }
   
    .content .textBox p {
        color: #fff;
        font-size: 20px;
       
        
    }





    .swiper-container {
   
        width: 100vw;
        padding-top: 50px;
        padding-bottom: 50px;
      }
    
      .swiper-slide{
        background-position: center;
        background-size: cover;
        width: 150px;
        height: 200px;
        display: flex;
        justify-content: center;
    }

    .mediabar{
        position: absolute;
        bottom: 25px;
        left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    .crewBox{
        background: black;
        display: flex;
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 40px;
        flex-direction: column;
      
        
    }
    .crewBox .conture-left{
        
        background: #d63031;
        font-size: 1.5rem;
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: 0;
        
        
    }
    .crewBox .conture-left p{
        margin-left: 40vw;
    
        font-size: 2rem;
        bottom: 0;
        
    }
    .crewBox .conture-left img{
        width: 50%;
        height: 80%;
    }
    
    .crewBox .conture-right{
        
        
        background: #fdcb6e;
        font-size: 1.5rem;
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: row-reverse;
        text-align: right;
        border-radius: 0;
        
    
        
    }
    .crewBox .conture-right p{
        justify-content: flex-end;
        margin-left: 40vw;
        font-size: 2rem;
        bottom: 0;
        
    }
    .crewBox .conture-right img{
        margin-top: 10vh;
        width: 50%;
        height: 80%;
        
    }

}